:root {
    --centered-clamp: clamp(65ch, 60vw, 70ch);
}
body{
    background-color: var(--primary-background);
    color: var(--primary-text);
}
body[data-using-sidebar="no"] .results {
    width: var(--centered-clamp);
    max-width: 100%;
    margin-inline: auto;
}
hr {
    color: #fff1;
    border: solid 1px #fff1;
    margin-block: 1rem;
}
.header {
    position: sticky;
    top: 0;
    background-color: var(--header-background);
    border-bottom: var(--slight-border);
    box-shadow: 0 10px 15px #04040422;
    padding-inline: 1rem;
    z-index: 100;
}
#logo {
    padding-top: .5rem;
    height: 4rem;
}
@media screen and (min-width: 1300px) {
    #logo{
        position: absolute;
    }
}
.search-form,
.results-type-nav {
    width: calc(var(--centered-clamp) - 2rem);
    max-width: 100%;
    margin-inline: auto;
}
.search-form {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: .5rem;
}
.search-form input {
    margin: 0;
}
.results-type-nav {
    padding-block: .5em;
}
.seperator {
    font-size: .6em;
    color: #fff4;
}
#search-suggestions {
    max-width: min(600px, 24%);
    columns: 12em 3;
    font-size: clamp(.8em, 2.5vw, 1em);
    padding: 0;
    list-style-type: none;
}
#search-suggestions li {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: .4rem;
    line-height: 1.8;
}
#search-suggestions .engine {
    margin-left: 0;
    opacity: .9;
    display: inline-block;
    width: clamp(.9em, 3vw, 1em);
    height: clamp(.9em, 3vw, 1em);
}
#search-suggestions .engine+.engine {
    margin-left: -1.5em;
    transform: translate(.3em, .35em) scale(.9);
}
/* For mobile */
@media screen and (max-width: 1299px) {
    #search-suggestions {
        width: calc(var(--centered-clamp) - 2rem);
        max-width: calc(100% - 2rem);
        margin-inline: auto;
        min-height: 120px;
        height: 22vh;
        max-height: 200px;
        overflow-x: auto;
    }
    #search-suggestions li {
        padding-block: .5em;
        border-bottom: var(--slight-border);
    }
    #search-suggestions .engine {
        grid-auto-flow: row;
        gap: 0;
        grid-template-columns: none;
    }
}
/* For desktop */
@media screen and (min-width: 1300px) {
    #search-suggestions {
        position: sticky;
        top: 120px;
        float: left;
        margin-top: 3rem;
        padding-inline: 2rem;
    }
}
.result a {
    text-decoration: none;
}
.title {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: normal;
    color: var(--res-title-color);
}
.result-favicon {
    width: .75em;
    height: .75em;
}
.url{
    color: var(--res-url-color);
    word-wrap: break-word;
    font-size: .8rem;
    margin: 0;
    padding: 0;
}
.engines-indicator-wrapper {
    display: flex;
    align-items: center;
}
.engine + .engine {
    margin-left: .6rem;
}
.results {
    margin-top: 3rem;
    margin-inline: 2rem;
    padding: 1rem;
}
.b_attribution {
    display: none;
}
#abstract{
	float: right;
    min-width: 30ch;
	width: 30%;
    margin: 3.5rem 1rem 10px 10px;
    max-width: min(70ch, calc(100% - 2rem));
	padding: 1em;
	background-color: var(--sidebar-abstract-bg);
    border-radius: 5px;
    border: var(--slight-border);
    box-shadow: 0 0 15px #04040422;
}
#abstract img{
	width: clamp(140px, 30%, 300px);
	float:right;
	padding:10px;
}
#open-abstract, #close-abstract {
    display: none;
}

@media screen and (max-width: 1300px) {
    #abstract {
        display: none;
        float: none;
        margin-inline: auto;
        width: calc(var(--centered-clamp) - 2rem);
    }
    #open-abstract, #close-abstract {
        display: block;
    }
}
